<link rel="stylesheet" href="/css/profile.css">
<section>
    <h3 class="dettext">Personal Details</h3>
    <div class="details">

        <img src="/images/avatar.jpg" alt="avatar" class="avatar_image">
        <div class="personal_details">


            <p>Name : <%= det.name %></p>
            <p>Email Address : <%= det.email %></p>
            <p>Password : <%= det.password %></p>
            <p>Account createdAt : <%= det.createdAt%></p>
            <!-- <form action="" method="POST">
                <div class="form-group field">
                    <label for="password">Change Password</label>
                    <input type="password" class="form-control hide " name="password">
                </div>
                <div class="form-group field">
                    <label for="name">Name</label>
                    <input type="text" class="form-control hide " name="name" value=<%= det.name %>>
                </div>
                <button type="submit" class="btn btn-dark">Change Password</button>
            </form> -->

        </div>


    </div>
</section>